# A DATABASE FOR PROJECT

In [ ]:
#Installed lib to connect to db

In [5]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\tools\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\marc aradillas\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [7]:
# Import Required Libraries:
# First, import the necessary libraries, including the MySQL database connector (mysql-connector-python), 
# and any other libraries you'll need.

In [1]:
import mysql.connector
import requests
import pandas as pd
import time
from concurrent.futures import ThreadPoolExecutor
from env import YELP_ID, YELP_API_KEY, yelp_locale_url
from config import user_name, pwd, host, db, port

In [ ]:
# Set Up Database Connection:
# Establish a connection to your MySQL RDS instance using the connection details you obtained from AWS.

In [2]:
# Replace with your RDS connection details
db_config = {
    'user': user_name,
    'password': pwd,
    'host': host,
    'database': db,
    'port': port
}


# Create a database connection
connection = mysql.connector.connect(**db_config)

# Create a cursor to execute SQL queries
cursor = connection.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'marc-db.cm6akguotkaw.us-east-2.rds.amazonaws.com:3306' (10060)

In [ ]:
# Define a Function to Fetch Data:
# Define the function to fetch data from the Yelp API, similar to your existing code. 
# Make sure you adjust this function to insert the data into the MySQL database.

In [ ]:
def fetch_page(offset):
    url = f'{api_endpoint}?location=New+York&limit={limit}&offset={offset}'
    headers = {
        'Authorization': f'Bearer {YELP_API_KEY}'
    }

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        return response.json().get('businesses', [])
    else:
        return []

In [9]:
# Concurrent Data Retrieval and Database Insertion:
# Modify your code to fetch data from Yelp API and insert it into the MySQL database concurrently. 
# This code is similar to your existing code but includes the database insertion step.

In [ ]:
with ThreadPoolExecutor(max_workers=4) as executor:
    while True:
        future_to_offset = {executor.submit(fetch_page, offset): offset}
        offset += limit

        for future in concurrent.futures.as_completed(future_to_offset):
            businesses = future.result()

            if not businesses:
                break

            for business in businesses:
                # Extract data from 'business' and insert into MySQL
                # Example: insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
                # Execute the query with the appropriate data

        time.sleep(60)

In [ ]:
# Commit and Close Database Connection:
# After all data is inserted, commit the changes and close the database connection.

In [ ]:
connection.commit()
cursor.close()
connection.close()