In [3]:
import acquire as a
import prepare as p

In [6]:
ny_reviews = p.acquire_ny_reviews()

reviews.csv found!

In [10]:
ny_reviews = ny_reviews.dropna()

In [11]:
ny_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4086 entries, 155 to 59922
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   camis                  4086 non-null   int64
 1   dba                    4086 non-null   object
 2   boro                   4086 non-null   object
 3   phone                  4086 non-null   int64
 4   cuisine_description    4086 non-null   object
 5   inspection_date        4086 non-null   object
 6   action                 4086 non-null   object
 7   score                  4086 non-null   int64
 8   grade                  4086 non-null   object
 9   latitude               4086 non-null   float64
 10  longitude              4086 non-null   float64
 11  full_address           4086 non-null   object
 12  violation_code         4086 non-null   object
 13  violation_description  4086 non-null   object
 14  last_inspection_date   4086 non-null   object
 15  concatenated_reviews   4086 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 542.7+ KB

In [14]:
ny_reviews.boro.value_counts()

boro
Manhattan        1421
Brooklyn         1186
Queens            893
Bronx             401
Staten Island     185
Name: count, dtype: int64