# NY Food review project

This notebook contains testing and scratch work

### Imports

In [76]:
%load_ext autoreload
%autoreload 2

# Import ds libraries
import pandas as pd
import numpy as np

# Import acquire functions
import nick_acquire as a

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Data dictionary

|          feature          |                            description                           |
| ------------------------- | ---------------------------------------------------------------- |
| camis                     | Unique identifier for the restaurant                             |
| dba                       | Name of the business                                             |
| boro                      | Borough in which restaurant is located                           |
| building                  | Building number for restaurant                                   |
| street                    | Street name for establishment                                    |
| zipcode                   | Zip code for the establishment                                   |
| phone                     | Phone number for the establishment                               |
| inspection_date           | Date of the inspection of the restaurant                         |
| critical_flag             | Indicator of critical violation                                  |
| record_date               | The date when the extract was run to produce this data set       |
| latitude                  | Latitude                                                         |
| longitude                 | Longitude                                                        |
| community_board           | ?                                                                |
| council_district          | ?                                                                |
| census_tract              | ?                                                                |
| bin                       | ?                                                                |
| bbl                       | ?                                                                |
| nta                       | ?                                                                |
| cuisine_description       | Describes type of cuisine at the restaurant                      |
| action                    | The actions that is associated with each restaurant inspection   |
| violation_code            | Violation code associated with establishment inspection          |
| violation_description     | Violation description associated with establishment inspection   |
| score                     | Total score for a particular inspection                          |
| grade                     | Grade associated with inspection                                 |
| grade_date                | Date when the current grade was issued                           |
| inspection_type           | Combination of the inspection program and the type of inspection |

This field represents the actions that is associated with each restaurant inspection. ;
• Violations were cited in the following area(s). 
• No violations were recorded at the time of this inspection. • Establishment re-opened by DOHMH 
• Establishment re-closed by DOHMH 
• Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed. 
• "Missing" = not yet inspected;

Grade associated with the inspection; 
• N = Not Yet Graded
• A = Grade A
• B = Grade B
• C = Grade C
• Z = Grade Pending
• P = Grade Pending issued on re-opening following an initial inspection that resulted in a closure

In [77]:
ny = a.acquire_ny()

In [78]:
ny.head()

,camis,dba,boro,building,street,zipcode,phone,inspection_date,critical_flag,record_date,...,bbl,nta,cuisine_description,action,violation_code,violation_description,score,grade,grade_date,inspection_type
0,50106756,UNGARO COAL FIRED PIZZA CAFE,Staten Island,1298,FOREST AVENUE,10302.0,6464690930,1900-01-01T00:00:00.000,Not Applicable,2023-10-26T06:00:14.000,...,5.003870e+09,SI07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50105716,STELLA'S,Brooklyn,559,5 AVENUE,11215.0,4155703174,1900-01-01T00:00:00.000,Not Applicable,2023-10-26T06:00:14.000,...,3.010480e+09,BK37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41168748,DUNKIN,Bronx,880,GARRISON AVENUE,10474.0,7188614171,2022-03-30T00:00:00.000,Not Critical,2023-10-26T06:00:11.000,...,2.027390e+09,BX27,Donuts,Violations were cited in the following area(s).,10J,Hand wash sign not posted,13.0,A,2022-03-30T00:00:00.000,Cycle Inspection / Initial Inspection
3,50131566,EXTACY LOUNGE,Queens,7701,JAMAICA AVE,11421.0,3478752367,1900-01-01T00:00:00.000,Not Applicable,2023-10-26T06:00:14.000,...,4.088410e+09,QN53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50128764,RUNNING KIDS,Brooklyn,856,64 STREET,11220.0,7188338856,1900-01-01T00:00:00.000,Not Applicable,2023-10-26T06:00:14.000,...,3.057420e+09,BK34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
ny.camis.nunique()

28232

In [87]:
ny.isna().sum()

camis                         0
dba                         508
boro                          0
building                    351
street                        6
zipcode                    2680
phone                         7
inspection_date               0
critical_flag                 0
record_date                   0
latitude                    257
longitude                   257
community_board            3247
council_district           3251
census_tract               3251
bin                        4237
bbl                         573
nta                        3247
cuisine_description        2305
action                     2305
violation_code             3452
violation_description      3452
score                      9706
grade                    105753
grade_date               114506
inspection_type            2305
dtype: int64

In [85]:
ny.building + ' '  + ny.street

0             1298 FOREST AVENUE
1                   559 5 AVENUE
2            880 GARRISON AVENUE
3               7701 JAMAICA AVE
4                  856 64 STREET
                   ...
207924      14605 JAMAICA AVENUE
207925     2456 EASTCHESTER ROAD
207926         333 HUDSON STREET
207927            8 STONE STREET
207928    126 ST & ROOSEVELT AVE
Length: 207929, dtype: object