In [2]:
import pandas as pd

In [20]:
places_df = pd.read_csv('places_progress.csv')
places_df.shape

(9421, 5)

In [21]:
places_df.head(2)

,camis,place_id,display_name,formatted_address,note
0,41168748,ChIJNzTkzav1wokRg3R8aGzuiWI,Dunkin',"In Sunoco Gas Station, 880 Garrison Ave, Bronx...",NaN
1,41688142,ChIJN0LWs0VawokRlblPt3vRdBU,Table 87,"87 Atlantic Ave, Brooklyn, NY 11201, USA",NaN

In [22]:
places_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9421 entries, 0 to 9420
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   camis              9421 non-null   int64
 1   place_id           9421 non-null   object
 2   display_name       9421 non-null   object
 3   formatted_address  9421 non-null   object
 4   note               498 non-null    object
dtypes: int64(1), object(4)
memory usage: 368.1+ KB

In [23]:
places_df.camis.nunique()

6589

In [24]:
len(places_df)

9421

In [25]:
len(places_df) - places_df.camis.nunique()

2832

In [17]:
len(places_df[places_df.note.isna()])

8923

In [26]:
places_df = places_df.drop_duplicates()

In [28]:
places_df.shape

(7695, 5)

In [18]:
places_df = places_df[places_df.note.isna()]
places_df.shape

(8923, 5)