In [1]:
import pandas as pd

# ny.to_csv('final_ny.csv')

In [2]:
pd.read_csv('reviews.csv')

,camis,publish_time,review_text,review_rating
0,41375676,2023-11-01 02:44:04.226505,NaN,5
1,41375676,2023-11-01 02:44:04.227451,NaN,5
2,41375676,2023-11-01 02:44:04.227954,NaN,5
3,41375676,2023-10-29 02:44:04.228882,Fabulous food,5
4,41375676,2023-10-29 02:44:04.229576,"Overrated. Terrible service, the fault of the...",3
...,...,...,...,...
61332,50107528,2023-05-24 21:33:14+00:00,"Easy to locate, great customer service. Went i...",2
61333,50107528,2023-07-16 04:20:30+00:00,A solid doner kebab. Good cuts of lamb and ple...,4
61334,50107528,2023-05-09 18:27:59+00:00,We spent 5 days in NYC eating a lot of great (...,5
61335,50107528,2023-03-05 21:48:09+00:00,Extremely authentic. Staff/owner is from Turke...,5
61336,50107528,2023-10-23 13:20:31+00:00,"The chicken is very tender, fresh Turkish brea...",5

In [4]:
pd.read_csv('final_ny.csv', index_col=0)

,camis,dba,boro,phone,inspection_date,latitude,longitude,cuisine_description,action,score,grade,full_address,violation_code,violation_description
0,41168748,DUNKIN,Bronx,7188614171,2022-03-30T00:00:00.000,40.816753,-73.892364,Donuts,Violations cited,13,A,880 GARRISON AVENUE 10474,10J 04N 08A,Hand wash sign not posted Filth flies or food/...
1,41688142,TABLE 87,Brooklyn,9176186100,2017-01-25T00:00:00.000,40.683447,-73.975691,Pizza,No violations,0,A,620 ATLANTIC AVENUE 11217,No violation,No violation
2,50100336,SUBWAY,Brooklyn,7186808808,2022-04-05T00:00:00.000,40.622569,-74.031412,Sandwiches,Violations cited,10,A,8711 3 AVENUE 11209,09B 10F 06D,Thawing procedures improper. Non-food contact ...
3,50086686,GERTIE,Brooklyn,7186360902,2021-08-25T00:00:00.000,40.712360,-73.955419,American,No violations,0,A,58 MARCY AVENUE 11211,No violation,No violation
4,50081121,DUNKIN,Brooklyn,7182729090,2022-04-04T00:00:00.000,40.666827,-73.871606,Donuts,Violations cited,24,B,2492 LINDEN BOULEVARD 11208,10J 02G 04N 10F 08A,Hand wash sign not posted Cold food item held ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60820,50001313,NEW GOLDEN RESTAURANT,Brooklyn,7184346377,2021-08-11T00:00:00.000,40.634287,-73.949185,Chinese,Violations cited,5,A,1483 FLATBUSH AVENUE 11210,10F,Non-food contact surface improperly constructe...
60821,50064419,BURGER JOINT (INDUSTRY CITY FOOD HALL BUILDING 2),Brooklyn,7188018393,2023-03-24T00:00:00.000,40.656054,-74.007334,Hamburgers,Violations cited,3,A,220 36 STREET 11232,10F,Non-food contact surface or equipment made of ...
60822,50093964,DOWNSTEIN DINING HALL @ NYU,Manhattan,2129953095,2022-07-11T00:00:00.000,40.730917,-73.995364,American,Violations cited,2,A,5 UNIVERSITY PLACE 10003,10F,Non-food contact surface or equipment made of ...
60823,50103447,PLAYA BOWLS,Manhattan,9172315259,2021-08-11T00:00:00.000,40.756918,-73.972066,"Juice, Smoothies, Fruit Salads",Violations cited,2,A,570 LEXINGTON AVENUE 10022,10H,Proper sanitization not provided for utensil w...
60824,50050190,SWEETGREEN,Manhattan,6468761468,2022-04-04T00:00:00.000,40.729965,-73.992196,Salads,Violations cited,4,A,10 ASTOR PLACE 10003,10F,Non-food contact surface improperly constructe...