In [12]:
import pandas as pd

# ny.to_csv('final_ny.csv')

In [13]:
reviews = pd.read_csv('reviews.csv')

In [14]:
ny = pd.read_csv('final_ny.csv', index_col=0)

In [15]:
reviews.head(2)

      camis                publish_time review_text  review_rating
0  41375676  2023-11-01 02:44:04.226505         NaN              5
1  41375676  2023-11-01 02:44:04.227451         NaN              5

In [16]:
# Convert the 'publish_time' column to datetime, handling ISO8601 format
reviews['publish_time'] = pd.to_datetime(reviews['publish_time'], format='mixed')

In [17]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61337 entries, 0 to 61336
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   camis          61337 non-null  int64
 1   publish_time   61337 non-null  object
 2   review_text    54434 non-null  object
 3   review_rating  61337 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.9+ MB

In [18]:
reviews.head(2)

      camis                publish_time review_text  review_rating
0  41375676  2023-11-01 02:44:04.226505         NaN              5
1  41375676  2023-11-01 02:44:04.227451         NaN              5

In [19]:
ny.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60825 entries, 0 to 60824
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   camis                  60825 non-null  int64
 1   dba                    60825 non-null  object
 2   boro                   60825 non-null  object
 3   phone                  60825 non-null  int64
 4   inspection_date        60825 non-null  object
 5   latitude               60825 non-null  float64
 6   longitude              60825 non-null  float64
 7   cuisine_description    60825 non-null  object
 8   action                 60825 non-null  object
 9   score                  60825 non-null  int64
 10  grade                  60825 non-null  object
 11  full_address           60825 non-null  object
 12  violation_code         60825 non-null  object
 13  violation_description  60825 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 7.0+ MB

In [20]:
ny['inspection_date'] = pd.to_datetime(ny['inspection_date'])
reviews.head(2)

      camis                publish_time review_text  review_rating
0  41375676  2023-11-01 02:44:04.226505         NaN              5
1  41375676  2023-11-01 02:44:04.227451         NaN              5