In [1]:
import pandas as pd
import numpy as np
import os
import requests
import env
import john_acquire_placeid as a

In [2]:
reviews = pd.read_csv('reviews.csv')

In [3]:
ny = pd.read_csv('final_ny.csv', index_col=0)

In [4]:
# Creating a new DataFrame with the selected columns
selected_columns = ['camis', 'dba', 'boro', 'phone', 'full_address']
unique_ny = ny[selected_columns].drop_duplicates()
len(unique_ny), unique_ny.camis.nunique()

(25820, 25820)

In [5]:
# Get unique 'camis' values from the reviews DataFrame
reviews_unique_camis = reviews['camis'].unique()

# Filter out the rows in unique_ny where 'camis' is in the reviews_unique_camis
unique_ny_cleaned = unique_ny[~unique_ny['camis'].isin(reviews_unique_camis)]

len(unique_ny_cleaned), len(ny)

(19682, 60825)

In [6]:
def remove_trailing_zero(address):
    if address.endswith(' 0'):
        return address[:-2]
    return address

unique_ny_cleaned['full_address'] = unique_ny_cleaned['full_address'].apply(remove_trailing_zero)

/var/folders/6c/7ht5b3716k32pz2lmh_pzp8m0000gp/T/ipykernel_64065/3150522173.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_ny_cleaned['full_address'] = unique_ny_cleaned['full_address'].apply(remove_trailing_zero)

In [7]:
unique_ny_cleaned

,camis,dba,boro,phone,full_address
5,50130923,LORENZO'S PIZZERIA,Bronx,7186187053,1226 SOUTHERN BOULEVARD 10459
8,50052842,CUP OF BROOKLYN,Brooklyn,9178555647,1071B GATES AVE
11,50116983,EL BASURERO BAR REST.,Queens,7185457077,3217 STEINWAY ST 11103
24,50008239,NEW YORK YANKEES MVP CLUB,Bronx,6469778510,1 EAST 161 STREET 10451
30,41599169,ROMA PIZZA,Brooklyn,7187837334,85 7 AVENUE 11217
...,...,...,...,...,...
60789,50117756,Bar 47,Bronx,6497329290,47 BRUCKNER BOULEVARD 10454
60803,50136507,MILANO PIZZA & FRIED CHICKEN,Bronx,9292469636,1544 BOONE AVENUE 10460
60808,50127789,LA RUBIA,Manhattan,3474291114,11 HOWARD STREET 10013
60810,50072982,LOS PERROS DE CHUCHO,Queens,3478643287,4013 35TH AVE 11101
60813,50045110,EMPLOYEE FEEDING,Manhattan,2124656273,4 PENN PLZ 10121

In [8]:
g_places_api_key = env.g_places_api_key

In [9]:
len(unique_ny_cleaned)

19682

In [10]:
a.main(unique_ny_cleaned, g_places_api_key, save_interval=50)

Resuming from row: 19651
Final save for remaining data after row #19682

In [11]:
div_places = pd.read_csv('places_progress.csv')
div_places

          camis                     place_id
0      41168748  ChIJNzTkzav1wokRg3R8aGzuiWI
1      41688142  ChIJN0LWs0VawokRlblPt3vRdBU
2      50100336  ChIJv4RNXVdawokR2clhEV4tZ8A
3      50086686  ChIJecXcbl9ZwokRKrDkbAar1eQ
4      50081121  ChIJ93nHHvVdwokRWLG_CuQou6o
...         ...                          ...
22272  50117756  ChIJdbIIBtr1wokR0GFANyNisTU
22273  50136507  ChIJU6c-qG31wokRsEHfwp6zJz8
22274  50127789  ChIJ7RvnmKhZwokR4wALDNqHTFs
22275  50072982  ChIJdxTnISVfwokRC_oFPb2_shs
22276  50045110  ChIJ6z7FQ65ZwokR5pNfZezRCWQ

[22277 rows x 2 columns]

In [12]:
# Drop duplicate rows based on the 'camis' column
div_places_unique = div_places.drop_duplicates(subset=['camis'])
len(div_places_unique)

17996

In [13]:
div_places.camis.nunique()

17996

In [14]:
div_places_unique.head()

      camis                     place_id
0  41168748  ChIJNzTkzav1wokRg3R8aGzuiWI
1  41688142  ChIJN0LWs0VawokRlblPt3vRdBU
2  50100336  ChIJv4RNXVdawokR2clhEV4tZ8A
3  50086686  ChIJecXcbl9ZwokRKrDkbAar1eQ
4  50081121  ChIJ93nHHvVdwokRWLG_CuQou6o

In [15]:
# Prepend the URL to the place_id column using +
div_places_unique['place_id'] = "https://www.google.com/maps/place/?q=place_id:" + div_places_unique['place_id']
div_places_unique

/var/folders/6c/7ht5b3716k32pz2lmh_pzp8m0000gp/T/ipykernel_64065/511094574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  div_places_unique['place_id'] = "https://www.google.com/maps/place/?q=place_id:" + div_places_unique['place_id']

          camis                                           place_id
0      41168748  https://www.google.com/maps/place/?q=place_id:...
1      41688142  https://www.google.com/maps/place/?q=place_id:...
2      50100336  https://www.google.com/maps/place/?q=place_id:...
3      50086686  https://www.google.com/maps/place/?q=place_id:...
4      50081121  https://www.google.com/maps/place/?q=place_id:...
...         ...                                                ...
22272  50117756  https://www.google.com/maps/place/?q=place_id:...
22273  50136507  https://www.google.com/maps/place/?q=place_id:...
22274  50127789  https://www.google.com/maps/place/?q=place_id:...
22275  50072982  https://www.google.com/maps/place/?q=place_id:...
22276  50045110  https://www.google.com/maps/place/?q=place_id:...

[17996 rows x 2 columns]

In [16]:
# Rename the columns
div_places_unique = div_places_unique.rename(columns={'camis': 'id', 'place_id': 'url'})
div_places_unique.head()

         id                                                url
0  41168748  https://www.google.com/maps/place/?q=place_id:...
1  41688142  https://www.google.com/maps/place/?q=place_id:...
2  50100336  https://www.google.com/maps/place/?q=place_id:...
3  50086686  https://www.google.com/maps/place/?q=place_id:...
4  50081121  https://www.google.com/maps/place/?q=place_id:...

In [22]:
# Create new dataframes
edwige = div_places_unique.iloc[0:1000]    
mark = div_places_unique.iloc[1000:2000]  
nick = div_places_unique.iloc[2000:3000] 
john = div_places_unique.iloc[3000:4000]

In [23]:
edwige_2 = div_places_unique.iloc[4000:5000]    
marc_2 = div_places_unique.iloc[5000:6000]  
nick_2 = div_places_unique.iloc[6000:7000] 
john_2 = div_places_unique.iloc[7000:8000]

In [20]:
john.head()

            id                                                url
3501  50138517  https://www.google.com/maps/place/?q=place_id:...
3502  50035344  https://www.google.com/maps/place/?q=place_id:...
3503  40838446  https://www.google.com/maps/place/?q=place_id:...
3504  50121894  https://www.google.com/maps/place/?q=place_id:...
3505  50069660  https://www.google.com/maps/place/?q=place_id:...

In [24]:

# Now save them to CSV files with corresponding names
edwige.to_csv('edwige.csv', index=False)
mark.to_csv('mark.csv', index=False)
nick.to_csv('nick.csv', index=False)
john.to_csv('john.csv', index=False)

In [25]:

# Now save them to CSV files with corresponding names
edwige_2.to_csv('edwige_2.csv', index=False)
marc_2.to_csv('mark_2.csv', index=False)
nick_2.to_csv('nick_2.csv', index=False)
john_2.to_csv('john_2.csv', index=False)

In [ ]:
import requests

# Replace with your actual API key
g_places_api_key = env.g_places_api_key

# Define the URL and headers
url = 'https://places.googleapis.com/v1/places:searchText'
headers = {
    'Content-Type': 'application/json',
    'X-Goog-Api-Key': g_places_api_key,
    'X-Goog-FieldMask': 'places.name'
}


# Define the query
text_query = "DUNKIN 880 GARRISON AVENUE Bronx 7188614171"

# Define the data for the POST request
data = {'textQuery': text_query}

# Make the POST request
response = requests.post(url, headers=headers, json=data)

# Check the response
if response.status_code == 200:
    print("Response:", response.json())
else:
    print(f"Failed to retrieve data: {response.status_code}")

Response: {'places': [{'name': 'places/ChIJNzTkzav1wokRg3R8aGzuiWI'}]}